attrs==19.1.0
backcall==0.1.0
backports.functools-lru-cache==1.3
beautifulsoup4==4.6.0
bleach==3.1.0
boto==2.49.0
bs4==0.0.1
bz2file==0.98
cachetools==4.1.0
certifi==2017.4.17
cffi==1.14.0
chardet==3.0.3
Click==7.0
colorama==0.4.1
cryptography==2.9
cx-Freeze==5.0.2
cycler==0.10.0
DAWG-Python==0.7.2
decorator==4.4.0
defusedxml==0.6.0
docopt==0.6.2
docutils==0.13.1
entrypoints==0.3
flake8==3.7.8
Flask==1.1.1
Flask-SQLAlchemy==2.4.1
future==0.16.0
gensim==2.3.0
get==0.0.21
google-api-core==1.17.0
google-api-python-client==1.8.0
google-auth==1.14.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
googleapis-common-protos==1.51.0
httplib2==0.17.2
idna==2.5
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.1
json5==0.8.5
jsonschema==3.0.2
jupyter-client==5.3.3
jupyter-core==4.5.0
jupyterlab==1.1.3
jupyterlab-server==1.0.6
markovify==0.8.0
MarkupSafe==1.1.1
matplotlib==2.0.2
mccabe==0.6.1
mistune==0.8.4
natasha==0.10.0
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.4
nltk==3.2.4
notebook==6.0.1
numpy==1.13.1
oauthlib==3.1.0
olefile==0.44
pandocfilters==1.4.2
parso==0.5.1
pickleshare==0.7.5
Pillow==4.1.1
post==0.0.13
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.11.3
public==0.0.38
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycodestyle-magic==0.4
pycparser==2.20
pyflakes==2.1.1
Pygments==2.2.0
PyInstaller==3.2.1
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pymorphy2-dicts-ru==2.4.404209.4415854
pymystem3==0.1.10
pyparsing==2.2.0
pypiwin32==219
pyrsistent==0.15.4
PySDL2==0.9.5
PySocks==1.7.1
pyTelegramBotAPI==3.1.0
python-dateutil==2.6.1
python-telegram-bot==12.6.1
pytz==2017.2
pywin32==225
pywinpty==0.5.5
pyzmq==18.1.0
query-string==0.0.12
requests==2.10.0
requests-oauthlib==1.3.0
rsa==4.0
scipy==1.3.1
Send2Trash==1.5.0
setupfiles==0.0.50
six==1.10.0
smart-open==1.5.3
SQLAlchemy==1.3.11
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
traitlets==4.3.2
Unidecode==1.1.1
uritemplate==3.0.1
urllib3==1.21.1
vk-api==11.8.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
win-unicode-console==0.5
yargy==0.12.0
